<div class="jumbotron h-100 p-5 text-white bg-dark rounded-3">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead"><strong>Email: </strong><%= @friend.email %></p>
  <p class="lead"><strong>Phone: </strong><%= @friend.phone %></p>

  <hr class="my-4">
  <%= link_to 'Edit', edit_friend_path(@friend), class: 'btn btn-light' %>
  <%= link_to 'Back', friends_path, class:'btn btn-light' %>
</div>

